<h5><%= @service.name %></h5>
<h5><%= @service.price %></h5>
<h5><%= @service.category %></h5>
<h5><%= @service.supplier.first_name %><%= @service.supplier.last_name %></h5>
<h5><%= @service.supplier.contact_number %></h5>
<h5><%= link_to @service.supplier.company_name, supplier_path(id: @service.supplier.id) %></h5>

<h3>Reviews</h3>
<table>
<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Title</th>
    <th scope="col">Body</th>
    <th scope="col">Rating</th>
    <th scope="col">Buyer Name</th>
    <% if buyer_signed_in? %>
    <th scope="col"><%= link_to "Create a review", new_service_review_path(service_id: @service.id) %></th>
    <% end %>
  </tr>
</thead>
<% @reviews.each do |review| %>
  <tbody>
    <tr>
      <td scope="row"></td>
      <td><%= review.title %></td>
      <td><%= review.body %></td>
      <td><%= review.rating %></td>
      <td><%= review.buyer.first_name %></td>
      <% if buyer_signed_in? %>
      <% if current_buyer.id == review.buyer_id %>
      <td><%= link_to "Edit Review", edit_review_path(id: review.id) %></td>
      <td><%= link_to "Delete Review", review_path(id: review.id), method: :delete %></td>
      <% end %>
      <% end %>
    </tr>
  </tbody>
<% end %>
</table>

<div>
  <%= link_to "Go back", :back %>
</div>
