<h1> <%= @unique_category %> </h1>

<%= link_to 'Back', buyer_path(id: current_buyer.id) %>

<table>
  <thead>
    <tr> 
      <th> Title </th>
      <th> Price </th>
      <th> location </th>
      <th> Supplier </th>
      <th> Avg. Rating </th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %> 
    <tr>
      <td> <%= link_to service.name, service_path(id: service.id, service_id: service.id) %> </td>
      <td> <%= service.price %> </td>
      <td> <%= service.location %> </td>
      <td> <%= service.supplier.company_name %> </td>
      <td> <%= service.reviews.average(:rating) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
